# Python
__pycache__/
build/
WhittlerTests/CodeCoverageHTMLReport/
WhittlerTests/CoberturaCodeCoverageResults_WhittlerTests.xml
*.coverage

# Pyinstaller
*.spec

# SonarQube
.scannerwork/

# Windows
.vs/
*.suo
