[FORMAT]
indent-string='   '
max-line-length=1000

[MASTER]
disable=consider-using-with,invalid-name,no-member,missing-docstring,no-value-for-parameter,too-many-function-args

[REPORTS]
output-format=text
reports=no
